<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div id="page" layout:fragment="content">
		<div class="pb-2">Welcome to employee portal</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="bg-primary text-white">
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${employees.empty}">
					<td colspan="2">No employees Available</td>
				</tr>
				<tr th:each="employee : ${employees}">
					<td><span th:text="${employee.id}"> ID </span></td>
					<td><span th:text="${employee.firstName}"> First Name </span></td>
					<td><span th:text="${employee.lastName}"> Last Name </span></td>
					<td><span th:text="${employee.email}"> Email </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

